# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Catapult Docs
repo_url: https://github.com/ClarifiedSecurity/catapult
theme:
  name: material
#  logo: assets/logo-white.png
#  favicon: assets/logo.png
  highlightjs: true
  features:
    - content.code.copy
  palette:

    # Palette toggle for light mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to light mode
plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ClarifiedSecurity/catapult
    - icon: fontawesome/solid/globe
      link: https://clarifiedsecurity.com